/* global.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 26px 62px;
  gap: 30px;
  isolation: isolate;
  position: relative;
  width: 100vw; /* Adjust width to cover full viewport width */
  height: 100vh; /* Adjust height to cover full viewport height */
  overflow-y: scroll;
  background: #F1F5FF;
  border-radius: 47px;
  margin: 0; /* Remove default margin */
}

#root {
  width: 100%; /* Ensure the root div takes full width */
  height: 100%; /* Ensure the root div takes full height */
}
